name = "OpenLocationCode"
uuid = "756832fe-a726-4697-a3e3-9d94f93caec2"
authors = ["KlausC <klausC@users.noreply.github.com> and contributors"]
version = "1.0.0"

[compat]
julia = "1.6"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
